@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(21, 21, 128), rgb(5, 2, 2));
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}
.login-box{
    width: 350px;
    height: 450px;
    padding: 9px;
    border: 1px solid rgb(36,36,100,0.3);
    background:rgb(36,36,100,0.2);
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blure(5px);
    border-radius: 7px;
    z-index: 1;

}
.logo{
    position: relative;
    left: -23px;
}
form{
    margin-top: 15px;
}
input{
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    
    
}
hr{
    width: 100%;
    border: 2px solid rgb(9, 48, 155);
}
span{
    
    padding: 2px 40px;
    font-weight: 500;
    border: 3px solid rgb(9, 48, 155);
    border-radius: 5px;
    color: #fff;
    position: relative;
    top: 150px;
    left: 70px;
}
span:hover{
    cursor: pointer;
   
}
.one{
    position: relative;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom, rgb(21, 21, 128), rgb(5, 2, 2));
    top: -225px;
    left: 155px;
    backdrop-filter: blure(5px);

    
}
.two{
    position: relative;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom, rgb(21, 21, 128), rgb(5, 2, 2));
    top: 225px;
    left: 400px;
    backdrop-filter: blure(5px);
}


